.card {
    text-align: left;
    margin-bottom: 16px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
  
  .radio-button {
    margin: 5px;
}
  
  .selected-value {
    margin: 15px 0;
}