<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Выберите количество костяшек</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <mat-radio-group class="radio-group" [(ngModel)]="dominoesCount">
                <mat-radio-button class="radio-button" *ngFor="let dominoe of dominoes" [value]="dominoe">
                    {{dominoe}}
                </mat-radio-button>
            </mat-radio-group>
        </p>
    </mat-card-content>
</mat-card>

<a routerLink="/game/{{dominoesCount}}" [queryParams]="{'moves':'12'}">
    <button mat-raised-button color="primary">
        Поехали
    </button>
</a>